<!-- app/View/Users/index.ctp -->
<!-- app/View/Users/index.ctp -->
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php $this->Html->link(__('New User'), array('action' => 'add')); ?></li>
	</ul>
</div>